@tailwind base;
@tailwind components;
@tailwind utilities;


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgba(125, 124, 124, 0.2);
  border-radius: 4px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Active state */
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}